.list-item-body {
  display: inline-block;
  background-color: #CCC;
  width: 52vw;
  height: auto;
  margin: 2.5px;
}

.client-listitem-table {
  margin: 10px;
  width: 100%;
  height: auto;
}

.template-listitem-table {
  font-weight: bold;
}

.client-listitem-table td {
  /* border: 1px solid black; */
  padding: 10px;
  width: 8%;
  text-align: center;
}

.client-list-body {
  height: 56.5vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
