.App {
  background-color: #ccc;
  width: 100%;
  height: auto;
  border-radius: 15px;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 10%;
  box-shadow: 1px 1px 4px black;
}

.Generator {
  position: relative;
  width: 90%;
  margin: 5% 5% 0% 5%;
  background-color: #ccc;
}

.timeline-display {
  background-color: #ccc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(10px, auto);
  font-family: sans-serif;
}

.timeline-display h1 {
  background-color: rgba(97,145,168, 1);
  margin: 0;
  color: white;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.timeline-phase {
  background-color: rgba(187,207,215,1);
  font-style: oblique;
  font-size: 1.2rem;
  height: 40px;
  padding-top: 15px;
}

.timeline-date {
  font-style: italic;
  padding-top: 15px;
}

.odd {
  background-color: rgba(228,238,240,1);
}

.even {
  background-color: rgba(187,207,215,1);
}

.timeline-generator, .override-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(10px, auto);
}
